/* Ben Brunzel's userChrome.css
 * write to ~/.mozilla/firefox/{yourProfile}/chrome/userChrome.css
 */

/* hide header tab bar */
#TabsToolbar {
    visibility: collapse !important;
}
/* hide huge sidebar header*/
#sidebar-header, #search-box { 
    display: none!important;
}
/* minimize sidebar splitter */
#sidebar-splitter {
    background-color: black!important;
    width: 1px!important;
    border: 0px!important;
}
